<section id="contact" class="contact">
    <div id="contacts" class="contacts">
        <div id="left" class="left">
            <div id="contact-me" class="contact-me">
                <h2>KEEP IN TOUCH</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam repudiandae, sequi nesciunt praesentium optio dolorum soluta cumque sit dignissimos eius exercitationem enim placeat facilis iure sed fuga alias deleniti quidem.</p>
            </div>
            <div id="address" class="address">
                <span class="material-symbols-outlined">home</span>
                <p>20939393 Blythe St<br>Winnneta, CA 911033</p>
            </div>
            <div id="phone" class="phone">
                <span class="material-symbols-outlined">call</span>
                <p>818-000-00000</p>
            </div>
            <div id="email" class="email">
                <span class="material-symbols-outlined">mail</span>
                <p>Email</p>
                <p>emailUs@pNguyenHomeSevices</p>
            </div>
        </div>

        <div id="right" class="right">
            <h2>CONTACT US</h2>
            <div id="email" class="email">
                <form>
                    <input type="text" value="Name"><br>
                    <input type="text" value="Email Adrress"><br>
                    <input type="text" value="Phone"><br>
                    <textarea placeholder="Message.." required></textarea><br>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>