<section id="product" class="product">
    <div id="description" class="description">
        <h2>PRODUCT DEMO</h2>
    </div>
    <div id="content" class="content">
        <div id="left" class="left">
            <div id="top" class="top" onclick="showImageDialog()"></div>
            <div id="bottom" class="bottom"></div>
        </div>
        <div id="middle" class="middle"></div>
        <div id="right" class="right">
            <div id="top" class="top"></div>
            <div id="bottom" class="bottom"></div>
        </div>
    </div>
</section>