<section id="about" class="about">
    <div id="about-div" class="about-div">
        <div id="left" class="left">

        </div>
        <div id="right" class="right">
            <div id="title" class="title"><h2>ABOUT USssss</h2></div>
            <div id="content" class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolores incidunt iure atque quo quae ipsa! Ipsum laboriosam quisquam quo! Similique, possimus in suscipit ipsam dolore amet eaque maiores reiciendis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolores incidunt iure atque quo quae ipsa! Ipsum laboriosam quisquam quo! Similique, possimus in suscipit ipsam dolore amet eaque maiores reiciendis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolores incidunt iure atque quo quae ipsa! Ipsum laboriosam quisquam quo! Similique, possimus in suscipit ipsam dolore amet eaque maiores reiciendis.
            </div>
        </div>
    </div>
</section>