<section id="service" class="service">
    <div id="title" class="title"><h2>OUR SERVICES</h2></div>
    <div id="services" class="services">
        <div class="services-container">
            <div>
                <span class="material-symbols-outlined" style="color: brown;font-size: 50px;">electrical_services</span>
                <h3>ELECTRICAL</h3>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
            </p>
            <button><a href="#">Read More</a></button>
        </div>

        <div class="services-container">
            <div>
                <span class="material-symbols-outlined" style="color: brown;font-size: 50px;">hvac</span>
                <h3>HVAC</h3>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
            </p>
            <button><a href="#">Read More</a></button>
        </div>

        <div class="services-container">
            <div>
                <span class="material-symbols-outlined" style="color: brown;font-size: 50px;">plumbing</span>
                <h3>PLUMBING</h3>
            </div>   
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam adipisci dolor natus, veritatis at odit ullam alias pariatur aut.
            </p>
            <button><a href="#">Read More</a></button>
        </div>
    </div>
</section>